.cookie-img{
  display: flex;
  margin: auto;
  -webkit-user-drag: none;
  max-width: 100%;
  border: 2px black solid;
  border-radius: 50%;
  animation-duration: 0.5s !important;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}