.info-generador-container{
    margin:0;
    padding:0;
    overflow:hidden;
}
.info-generador{
    margin-top: -3vh;
    display: flex;
    background-color: coral;
    border: 5px rgba(0, 0, 0, 0.2) solid;
    position:absolute;
    width: 25%;
    float: right;
    box-shadow: 0 0 3px 3px rgb(0 0 0 / 0.6);
    flex-direction: column;
}
.img-info-generador{
    display: flex;
    height: 5rem;
    padding: 5px;
    margin: auto;
    -webkit-user-drag: none;
}
/* font-family: 'Merriweather', Georgia,serif; */

.lista-generadores{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}
.generador{
    display: flex;
    width: 100%;
    background-color: grey;
    height: 5rem;
    border-top: 7px rgba(0, 0, 0, 0.2) solid;
    border-bottom: 7px rgba(0, 0, 0, 0.5) solid;
    cursor: pointer;
    flex-direction: row;
}
.img-generador{
    width: 5rem;
    padding: 5px;
    -webkit-user-drag: none;
}
.info-precio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 1rem;
    margin-top: 5px !important;
}
.gen-precio{
    display: flex;
    align-items: center;
    gap: 5px;
}
.gen-cant{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 5px;
    font-size: -webkit-xxx-large;
}